/* Scss Document - Color Mixin*/

// Viasat 3 color
$viasatgrey:  #202E39;
$viasatblue:  #009FE3;
$viasatgreen: #BED733;

$viasatwhite: #FFF;
$viasatblack: #000;

// Teal 
$teal800: #014656;
$teal700: #006366;
$teal600: #008085;
$teal500: #0AA5AB;
$teal400: #3ec1be;
$teal300: #61ded8;
$teal200: #8df2ed;
$teal100: #b6fbf8;
$tealextra1: #26A1A1;

// Blue 
$blue800: #003f73;
$blue700: #00528c;
$blue600: #006ead;
$blue500: #009de0;
$blue400: #14b9ff;
$blue300: #64cefb;
$blue200: #9be1ff;
$blue100: #ccf0ff;
$blueextra1: #2e4b61;
$blueextra2: #213545;

// Green 
$green700: #1d5700;
$green600: #358000;
$green500: #5ea215;
$green400: #8dc002;
$green300: #bed733;
$green200: #d8ec74;
$green100: #e5f395;

// Grey 
$gray800: #202e39;
$gray700: #32424e;
$gray600: #465967;
$gray500: #677a89;
$gray400: #9fafbc;
$gray300: #c3cdd5;
$gray200: #dee4e8;
$gray100: #f2f5f8;
$grayextra1: #d8d8d8;
$grayextra2: #172531;

// Orange 
$orange700: #86090f;
$orange600: #a82200;
$orange500: #cf4520;
$orange400: #ef8201;
$orange300: #ffb029;
$orange200: #ffdb7d;
$orange100: #ffe9b3;
$orangeextra1: #9d252d;

// Magenta 
$magenta700: #570a46;
$magenta600: #7d1364;
$magenta500: #ad258b;
$magenta400: #d147af;
$magenta300: #ea7bce;
$magenta200: #f9aae4;
$magenta100: #fccfef;

// Purple 
$purple700: #29126d;
$purple600: #3a1b98;
$purple500: #562bda;
$purple400: #724ae8;
$purple300: #9678f2;
$purple200: #baa8f0;
$purple100: #d9d1fa;

$text-gray:  $gray700;
$text-white: $viasatwhite;


