* {
  font-family: sans-serif;
  text-align: center;
}
.formstuff {
  border: 1px solid #ccc;
  padding: 20px;
}

.orange {
  color: orange;
}
.green {
  color: green;
}
.blue {
  color: blue;
}
.aqua {
  color: aqua;
}

/* Apply webfont to body */
h1,h2,h3,h4,h5,h6,p {font-family: 'UnineueBook', Arial, sans-serif !important;}