@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@font-face {
	font-family: 'uni_neue';
	src: url('unineue-book-webfont.woff') format('woff');
	src: url('unineue-book-webfont.woff2') format('woff2'),
			 url('unineue-book-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'uni_neueheavy';
	src: url('unineue-heavy-webfont.woff');
	src: url('unineue-heavy-webfont.woff2') format('woff2'),
			 url('unineue-heavy-webfont.woff') format('woff');
	font-weight: bolder;
	font-style: normal;
}

/*
@font-face {
    font-family: 'uni_neuelight';
    src: url('unineue-light-webfont.eot');
    src: url('unineue-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('unineue-light-webfont.woff2') format('woff2'),
         url('unineue-light-webfont.woff') format('woff'),
         url('unineue-light-webfont.ttf') format('truetype'),
         url('unineue-light-webfont.svg#uni_neuelight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uni_neuelight_italic';
    src: url('unineue-lightitalic-webfont.eot');
    src: url('unineue-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('unineue-lightitalic-webfont.woff2') format('woff2'),
         url('unineue-lightitalic-webfont.woff') format('woff'),
         url('unineue-lightitalic-webfont.ttf') format('truetype'),
         url('unineue-lightitalic-webfont.svg#uni_neuelight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uni_neuebook_italic';
    src: url('unineue-bookitalic-webfont.eot');
    src: url('unineue-bookitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('unineue-bookitalic-webfont.woff2') format('woff2'),
         url('unineue-bookitalic-webfont.woff') format('woff'),
         url('unineue-bookitalic-webfont.ttf') format('truetype'),
         url('unineue-bookitalic-webfont.svg#uni_neuebook_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uni_neuebold';
    src: url('unineue-bold-webfont.eot');
    src: url('unineue-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('unineue-bold-webfont.woff2') format('woff2'),
         url('unineue-bold-webfont.woff') format('woff'),
         url('unineue-bold-webfont.ttf') format('truetype'),
         url('unineue-bold-webfont.svg#uni_neuebold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'uni_neuebold_italic';
    src: url('unineue-bolditalic-webfont.eot');
    src: url('unineue-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('unineue-bolditalic-webfont.woff2') format('woff2'),
         url('unineue-bolditalic-webfont.woff') format('woff'),
         url('unineue-bolditalic-webfont.ttf') format('truetype'),
         url('unineue-bolditalic-webfont.svg#uni_neuebold_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'uni_neueheavy';
    src: url('unineue-heavy-webfont.woff');
    src: url('unineue-heavy-webfont.woff2') format('woff2'),
         url('unineue-heavy-webfont.woff') format('woff'),
         url('unineue-heavy-webfont.ttf') format('truetype');
    font-weight: bolder;
    font-style: bolder;
}
*/